
body {

    background-color:#E2C9EB;
    text-align: center;
}

#header{
    position: relative; 
    top: 150px; 
    left: 0px; 
    width: 99%; 
    height: 200px; 
    display: grid;
    gap: 10px;
    margin-right: 5px;
    margin-left: 5px;

}

.container{
    position: absolute; 
    top: 350px; 
    left: 0px; 
    width: 99%; 
    height: 500px; 
    display: grid;
     grid-template-rows: auto auto auto;
      padding: 10px;
    gap: 10px;
    margin: auto;
    align-content: center;
  }
  
.container > div {
    background-color: #ae60b6; 
   
   border: 5px solid rgb(0, 0, 0); 
    border-radius: 20px; 
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px; 
   
  }

  .navigation{
    position: fixed; 
    top: 0px; 
    left: 0px; 
    background-color: #000000;
    width: 99%; 
    height: 100px; 
    display: grid;
     grid-template-columns: auto auto;
      padding: 10px;
    gap: 10px;
    z-index: 9999;
    margin: auto;
    align-content: center;
  }
  
.navigation > div {
    background-color: #b3999e; 
   border: 5px solid white; 
    border-radius: 20px; 
    padding: 20px; 
    text-align: center;
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px
  }

nav > div> a {

        list-style-type: none;
        width: 1480px;
        color: #000;
        font-family: Abel;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

}

nav> div> a:visited{

    color: #E10B0B;
}

nav > div> a:active{

    color: #000;
}

nav > div> a:hover{

    color: #FFF;
    font-family: Abel;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */


}



header {
        color: #E10B0B;
        text-align: center;
        font-family: "Doppio One";
        font-size: 96px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 134.4px */
        letter-spacing: 9.6px;


}

h1 {

    color: #3D6800;
    text-align: center;
    font-family: "Doppio One";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 84px */
    letter-spacing: 6px;

}

h2{
    color: #3D6800;
    text-align: center;
    font-family: "Doppio One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 67.2px */
    letter-spacing: 4.8px;

}

.container> div> ul{

    display: inline-block; 
    text-align: left;
    color: #000;
    font-family: Abel;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
    
}

.container> div> ul{
    list-style-position: inside;
}

#Contact > div > a{

    color: #000;
    font-family: Abel;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
    text-align: center;
} 

@media only screen and (max-width: 600px) {
    header {
      font-size: 36px;
    }
  }
  
